html, body
{
  margin: 0px;
  padding: 0px;
  height: 100%;
  font-family: 'Oswald', sans-serif;

  background-image: url("../assets/images/bg_pattern.png");
  background-repeat: repeat-y repeat-x;
}

.project-wrapper-sm
{
  display: none;
}

.content-wrapper
{
  min-height: 100%;
  position: relative;
}

a:link, a:visited, a:hover, a:active
{
  text-decoration: none;
}

.navitems li a:link,.navitems li  a:visited,.navitems li  a:active
{
  color: #8e8bb3;
}

.navitems li a:hover, .navitems li a#highlighted:hover
{
  color: #aff2ef;
}

.header
{
  width: 100% auto;
  height: 60px;
  background-color: #171b41;
  margin-bottom: 20px;
}

.navtext
{
  float: left;
  color: #ffffff;
  font-size: 1.4em;
  position: relative;
  top: 12px;
}

.navitems
{
  float: right;
  margin: 0px;
}

.navitems li
{
  list-style: none;
  color: #8e8bb3;
  float: left;
  margin: 0px 10px;
}

.navitems li a#highlighted
{
  color: #ffffff;
}

.container
{
  width: 1020px;
  margin: 0px auto;
  padding-bottom: 80px /*height of footer + 20 margin*/
}

.grayscale {
  -webkit-filter: grayscale(100%);
  -webkit-transition: all .2s ease;
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
}

.grayscale:hover
{
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  filter: grayscale(0%);
}

.project
{
  background-color: #171b41;
  height: 300px;
  width: 300px;
  border-radius: 150px;
  z-index: 1;
  margin: 20px;
  overflow:hidden;
  float: left;
}

.project .picture
{
  height: 280px;
  width: 280px;
  z-index: 2;
  border-radius: 140px;
  margin: 10px 10px;
  position: relative;
  top: -80px;
}

.project .picture-inverse
{
  border: 1px solid white;
  height: 278px;
  width: 278px;
  z-index: 2;
  border-radius: 140px;
  margin: 10px 10px;
  position: relative;
  top: -80px;
}

.project .description
{
  background-color: rgba(23,27,65,0.9);
  width: 300px;
  height: 70px;
  z-index: 3;
  margin: 0px;
  position: relative;
  top: 300px;

  padding: 5px 0px;
  text-align: center;
  color: #ffffff;
}

.project .description .heading
{
  font-size: 1.8em;
  opacity: 1;
}

.description-sm > span.sub-heading
{
  font-size: 1.0em;
}

.container-sm
{
  width: 680px;
  margin: 0px auto;
  padding-top: 20px;
  padding-bottom: 80px /*height of footer + 20 margin*/
}

.container-sm .button
{
  width: 110px;
  height: 30px;
  border-radius: 10px;
  background-color: #171b41;
  margin-right: 20px;
  margin-bottom: 40px;

  padding: 5px 0px;
  text-align: center;
  float: left;
}

.container-sm .button:hover > span
{
  color: #aff2ef;
}

.container-sm .button span
{
  color: #ffffff;
  position: relative;
  top: 2px;
}

.container-sm p, .container-sm > .content-text
{
  color: #171b41;
  font-family: Helvetica, Arial, sans-serif;
  text-align: justify;
  line-height: 150%;
  margin: 1em 0em;
}

.container-sm #contact-details
{
  color: #171b41;
}

.container-sm .heading
{
  color: #171b41;
  font-size: 1.8em;
  opacity: 1;
}

.container-sm .app-icon
{
  width: 300px;
  border-radius: 75px;
  margin: 20px 0px;
  display: block;
  margin-right: auto;
}

.footer
{
  width: 100%;
  height: 60px;
  position: absolute;
  background-color: #171b41;
  bottom: 0;
  left: 0;
}

.container:after, .container-sm:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.content-link:link, .content-link:visited, .content-link:hover, .content-link:active
{
  color: #58009c;
}

.content-link:hover, .content-link:active
{
  text-decoration: underline;
}

.screenshot-landscape
{
  width: 680px;
}

.screenshot-portrait
{
  width: 320px;
  margin: 5px 8px;
}

hr
{
  border: 1px solid #171b41;
  margin-top: 2em;
  margin-bottom: 2em;
}

br.sm-only-break
{
  display: none;
}

.downloadIcon
{
  color: #171b41;
}

div.downloadIcons
{
  text-align: center;
}

.fa-border
{
  border-color: #171b41;
  border-width: 2px;
}

.downloadIcon:hover
{
  color: #669df0;
}




/*Different screen sizes */
@media (max-width: 1019px)
{
  .container
  {
    width: 680px;
  }
}


@media (max-width: 767px)
{

  .content-wrapper
  {
    width: 100%;
  }

  span.navtext
  {
    display: none;
  }

  .navtext
  {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .container
  {
    width: 100%;
  }

  .container ul
  {
    padding: 0;
    text-align: center;
  }

  .navitems li
  {
    display: inline;
    float: none;
  }

  .container-sm
  {
    width: 90%;
    position: relative;
    text-align: center;
  }

  .container-sm .app-icon
  {
    margin-left: auto;
  }

  img.screenshot-landscape
  {
    width: 100%;
    padding: 0px;
    margin: 0px auto;
  }

  br.sm-only-break
  {
    display: block;
  }

  .container-sm .button
  {
    margin-bottom: 10px;
  }

  .project
  {
    display: none;
  }

  .project-wrapper-sm
  {
    display: block;
    width: 400px;
    margin: 0px auto;
    padding: 0px;
  }

  .project-bar-sm
  {
    width: 100%;
    height: 240px;
    padding: 0px;
    margin: 0px;
  }

  .project-bar-sm > div
  {
    float: left;
    text-align: center;
  }

  .project-sm
  {
    background-color: #171b41;
    height: 200px;
    width: 200px;
    border-radius: 100px;
    z-index: 1;
    margin: 0px 20px;
    overflow: hidden;
    position: relative;
    top: 20px;
  }

  .project-sm .picture
  {
    height: 190px;
    width: 190px;
    z-index: 2;
    border-radius: 95px;
    margin: 5px 5px;
  }

  .project-sm .picture-inverse
  {
    border: 1px solid white;
    height: 188px;
    width: 188px;
    z-index: 2;
    border-radius: 95px;
    margin: 5px 5px;
  }

  hr.line-sm
  {
    border: 1px solid rgba(22, 28, 64, 0.5);
    margin-top: 20px;
    margin-bottom: 20px;

    width: 500px;
    position: relative;
    right: 50px;
  }

  .description-sm
  {
    color: #171b41;
    margin-top: 50px;
    margin-left: 15px;
  }

  .description-sm > span.heading
  {
    font-size: 1.8em;
  }

  .description-sm .button-sm
  {
    width: 110px;
    height: 30px;
    border-radius: 10px;
    background-color: #171b41;

    padding: 5px 0px;
    text-align: center;
  }

  .description-sm .button-sm:hover > span
  {
    color: #aff2ef;
  }

  .description-sm .button-sm span
  {
    color: #ffffff;
    position: relative;
    top: 2px;
  }

}

@media (max-width: 500px)
{
  .project-wrapper-sm
  {
    width: 320px;
  }

  .project-bar-sm
  {
    height: 190px;
  }

  .project-sm
  {
    height: 150px;
    width: 150px;
    border-radius: 75px;
    margin: 0px 10px;
  }

  .project-sm .picture
  {
    height: 140px;
    width: 140px;
    z-index: 2;
    border-radius: 70px;
    margin: 5px 5px;
  }

  .project-sm .picture-inverse
  {
    height: 138px;
    width: 138px;
    z-index: 2;
    border-radius: 70px;
    margin: 5px 5px;
  }

  .description-sm
  {
    margin-top: 40px;
    margin-left: 5px;
  }

  .description-sm > span.heading
  {
    font-size: 1.5em;
  }

  .description-sm .button-sm
  {
    width: 90px;
  }

  hr.line-sm
  {
    width: 100%;
    right: 0px;
  }

}
