#container {
    padding: 16px;
}

table,
td,
th {
    border: 2px solid;
}

td,
th {
    padding: 8px;
}

#meals-section {
    text-align: center;
}

#meals-section>table {
    margin: auto;
}

#meal-table {
    border-collapse: collapse;
}

.person-meal {
    display: inline-flex;
    padding: 5px;
    min-width: 48px;
    min-height: 48px;
    align-items: center;
    justify-content: center;
    margin: 5px;

    background-color: rgb(255, 192, 192);
}

.lunch {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(121, 51, 51);
}

.dinner {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: darkblue;
}

.meal-on {
    background-color: rgb(101, 164, 101);
}

button#summarise-meals {
    display: flex;
    margin: 16px auto;
    font-size: 2em;
    padding: 16px 24px;
    border-radius: 8px;
    font-family: cursive;
}


div#meal-summary > p {
    text-align: center;
    font-family: fantasy;
}

th {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}